{% extends "layout.html" %}
{%block title%}Judge Dashboard{%endblock%}

{% block content %}

<div>

    <div>
        <h1>Dashboard</h1>
        <div>Welcome {{user.username}}!</div>
    </div>

    <div>
        <span>View All Uploaded Scores</span>
    </div>

    <div>
        <div>
        <div>
            Uploaded Scores Awaiting Confirmation
        </div>
        <div>#</div>
        </div>

        <div>
        <div>
            Automated Errors Identified
        </div>
        <div>#</div>
        </div>
    </div>

    <div>
        <a href="#">Go to Public Dashboard</a>
    </div>

</div>
{% endblock %}